/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}


/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }


/* =============================================================================
  #GENERAL
============================================================================= */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  min-height: 100%;
  height: 100%;

  font-size: 16px;
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #000000;
  font-size: 18px; font-size: 1.8rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  background-color: #ffffff;
}

/* Container */
.container {
  padding: 0 15px;
}

/* Reset skel-layers-wrapper */
#skel-layers-wrapper { bottom: 0 !important; }


/* =============================================================================
  #UTILITIES
============================================================================= */
.hide {
  display: none;
}

/* Text aligns */
.ta-left { text-align: left; }
.ta-center { text-align: center; }
.ta-right { text-align: right; }


/* Put this on the wrapping div you want to clear */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }


/* Responsive video - put the iFrame in a div containg this class */
.videoWrapper {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;

  line-height: 1.1;
}

/* Add margin top to heading when it comes after another piece of content */
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 60px;
}

html.small * + h1, html.small * + h2, html.small * + h3, html.small * + h4, html.small * + h5, html.small * + h6 {
  margin-top: 30px;
}


/* Heading 1 */
h1 {
  margin-bottom: 10px;

  font-size: 44px; font-size: 4.4rem;
}

html.small h1 { font-size: 32px; font-size: 3.2rem; }


/* Heading 2 */
h2 {
  margin-bottom: 10px;

  font-size: 32px; font-size: 3.2rem;
}

html.small h2 { font-size: 24px; font-size: 2.4rem; }

/* Heading 3 */
h3 {
  font-size: 24px; font-size: 2.4rem;
}

html.small h3 { font-size: 18px; font-size: 1.8rem; }


p {
  margin-bottom: 2rem;
}

.lead {
  font-size: 120%;
}

strong {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

.ol,
.ul {
  margin-bottom: 18px;
  padding-left: 30px;
}

.ul {
  list-style: disc;
}

.ol {
  list-style: decimal;
}


/* =============================================================================
  #ELEMENTS
============================================================================= */
img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

img[width],
img[height] {
  max-width: none;
}


hr {
  margin: 30px 0;

  height: 1px;

  background-color: #e6e6e6;
  border: none;
}


.box {
  margin-top: 20px;
  padding: 20px;

  border: 1px solid #efefef;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

  .box h3 {
    margin-bottom: 10px;
  }


/* =============================================================================
  #BUTTONS
============================================================================= */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  min-width: 200px;

  color: #ffffff;
  font-size: 18px; font-size: 1.8rem;
  text-decoration: none;
  text-align: center;

  cursor: pointer;

  background-color: #549fd7;
  border: none;
  border-radius: 4px;

  transition: background-color 150ms ease-in-out;
}

html.xsmall .btn {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #61afe8;
}

/* Button modifiers */
.btn--block {
  display: block;
  width: 100%;
}


/* =============================================================================
  #MESSAGES
============================================================================= */
/* Messages */
.message {
  display: block;
  margin: 15px 0;
  padding: 8px 10px;

  color: #ffffff;
  font-size: 16px; font-size: 1.6rem;
  font-weight: 700;

  border-radius: 4px;
}

  .message h1,
  .message h2,
  .message h3,
  .message h4 {
    margin-bottom: 5px;
  }

  /* No margin on last item in message */
  .message *:last-child {
    margin-bottom: 0;
  }

  .message--error   { background-color: #e23c3c; }
  .message--warning { background-color: #df920d; }
  .message--success { background-color: #71b62c; }
  .message--info    { background-color: #3484cf; }


/* =============================================================================
  #FORM STYLING
============================================================================= */
/* FORM LABEL BLOCK */
.form__section {
  margin-bottom: 30px;
}


/* Form button */
.form__section .btn {
  min-width: 320px
}


/* Labels */
.form__label {
  display: block;
  margin-bottom: 4px;
  margin-right: 0;

  font-weight: 700;
}

label + label {
	margin-left: 30px;
}

.form__label + label {
	margin-left: 0;
}


/* Default */
select,
input {
  font-size: 18px; font-size: 1.8rem;
}

select,
textarea,
input:focus {
   outline: none;
}


/* Radio and checkbox input */
input[type="radio"],
input[type="checkbox"] {
   margin-right: 8px;
}


/* General text inputs */
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="number"] {
  display: block;
  padding: 10px 14px;
  width: 100%;
  max-width: 320px;

  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px; font-size: 1.8rem;
  line-height: 1.4;

  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .05), 0 0 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #c8c8c8;

  transition: box-shadow 150ms ease-in-out;
}

html.xsmall textarea,
html.xsmall input[type="text"],
html.xsmall input[type="tel"],
html.xsmall input[type="email"],
html.xsmall input[type="password"],
html.xsmall input[type="number"] {
  max-width: 100%;
  width: 100%;
}

textarea:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
   border: 1px solid #549fd7;
   box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, .05);
}


/* Textarea */
textarea {
  min-height: 140px;
  max-width: 360px;
  width: 100%;
}


/* Select input */
select {
  height: 42px;
  width: 100%;

  border: none;
  background-color: #f3f3f3;

  cursor: pointer;
}


/* Error input */
textarea.error,
input[type="text"].error,
input[type="tel"].error,
input[type="email"].error,
input[type="password"].error,
input[type="number"].error {
  border: 1px solid #e23c3c;
}

.field-error.hide {
  display: none;
}

.form--login label.error,
.field-error {
  display: block;
  margin-top: 10px;
  margin-left: 0 !important;

  font-size: 16px; font-size: 1.6rem;
  color: #e23c3c;
}


/* =============================================================================
	#MAIN CONTENT
============================================================================= */
.main {
  padding: 40px 0;
}

html.medium .main,
html.small .main {
  padding: 20px 0;
}


/* =============================================================================
  #HERO
============================================================================= */
.hero {
  position: relative;
  padding: 6% 0;

  color: #ffffff;

  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html.small .hero {
  padding: 60px 0;
}

.hero--small {
  padding: 40px 0;
}

html.small .hero--small {
  padding: 20px 0;
}

  /* Default content scaling */
  .hero .btn,
  .hero p {
    font-size: 120%;
  }


  /* Background image dark overlay */
  .hero > * {
    position: relative;
    z-index: 100;
  }

  .hero::before {
    position: absolute;
    z-index: 50;
    content: "";
    top: 0; right: 0; bottom: 0; left: 0;

    background-color: rgba(0, 0, 0, .5);
  }


/* =============================================================================
  #HEADER
============================================================================= */
.header {
  position: sticky;
  top: 0;
  z-index: 500;

  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
}

  .header .container {
    display: flex;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  /* Header logo */
  .header .logo {
    position: relative;
    z-index: 500;
  }

    .header .logo img {
      width: 140px;
    }


/* ==========================================================================
	#NAVIGATION
========================================================================== */
/* ==========================================================================
	##DESKTOP ============================================================ */
@media (min-width: 1200px) {
  .nav {
      display: flex;
      margin-left: auto;
  }

      .nav__burger {
          display: none;
      }


  .menu-wrapper {
      display: flex;
      margin-left: auto;
  }

      .menu__item {
          display: inline-flex;
          align-items: center;
      }

      .menu__item + .menu__item {
          margin-left: 30px;
      }

          .menu__item > a {
              padding: 10px 0;

              color: #808080;
              text-decoration: none;
          }

          .menu__item:hover > a {
              color: #549fd7;
          }

          .menu__item--active > a {
              color: #549fd7;
              font-weight: bold;
          }

      .menu__item--has-sub {
          position: relative;
      }

          .menu__item--has-sub svg {
              width: 12px;

              fill: currentColor;
          }


  .submenu {
      overflow: hidden;
      position: absolute;
      top: 100%;
      min-width: 140px;

      visibility: hidden;
      opacity: 0;
      transition: visibility .2s .2s,opacity .2s 0s;

      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
      border-radius: 4px;
  }

  .menu__item--has-sub:hover .submenu {
      visibility: visible;
      opacity: 1;
      transition: visibility .2s 0s,opacity .2s 0s;
  }

      .submenu__item {
          display: flex;
      }

          .submenu__item > a {
              display: inline-flex;
              flex-grow: 1;
              padding: 10px;

              color: #808080;
              text-decoration: none;
          }

          .submenu__item:hover > a {
              color: #549fd7;

              background-color: #f4f4f4;
          }

          .submenu__item--active > a {
              color: #549fd7;
              font-weight: bold;
          }
}


/* ==========================================================================
	##MOBILE ============================================================= */
@media (max-width: 1199px) {
  .nav {
    margin-left: auto;
  }


  .menu-is-open {
      overflow: hidden;
  }

  .menu-wrapper,
  .menu {
      height: 100vh;
  }

  .menu-wrapper {
      position: fixed;
      z-index: 250;
      top: 0; right: 0; bottom: 0; left: 0;
      padding: 85px 0;

      transform: translateX(100%);

      transition: transform 350ms ease-in-out;

      background-color: #ffffff;
  }

  .menu-is-open .menu-wrapper {
      transform: translateX(0);
  }

      .menu {
          overflow: auto;
          padding: 15px;
      }


      .menu__item {
          display: flex;
          flex-direction: column;
      }

          .menu__item > a {
              display: inline-flex;
              width: 100%;
              padding: 10px 0;

              color: #808080;
              text-decoration: none;
          }

          .menu__item:hover > a {
              color: #549fd7;
          }

          .menu__item--active > a {
              color: #549fd7;
              font-weight: bold;
          }

      .menu__item--has-sub {
          position: relative;
      }

          .menu__item--has-sub svg {
              margin-left: auto;
              width: 18px;

              fill: currentColor;
          }


  .submenu {
      background-color: #f4f4f4;
  }

  .menu__item--has-sub:hover .submenu {
      visibility: visible;
      opacity: 1;
      transition: visibility .2s 0s,opacity .2s 0s;
  }

      .submenu__item {
          display: flex;
      }

          .submenu__item > a {
              display: inline-flex;
              flex-grow: 1;
              padding: 10px;

              color: #808080;
              text-decoration: none;
          }

          .submenu__item:hover > a {
              color: #549fd7;

              background-color: #e7e7e7;
          }

          .submenu__item--active > a {
              color: #549fd7;
              font-weight: bold;
          }
}


/* ==========================================================================
	##HIDE NAVIGATION ====================================================== */
.no-nav .nav {
  display: none !important;
}


/* ==========================================================================
	#HAMBURGER TOGGLE
========================================================================== */
.nav__burger {
  position: relative;
  z-index: 500;
  float: right;
  margin-top: 6px;
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 8px;
  cursor: pointer;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  -webkit-tap-highlight-color: transparent;
}

  .nav__burger .nav__burger__lines:after {
    left: 0;
    top: -1em;
  }

  .nav__burger .nav__burger__lines:before {
    left: 1em;
    top: 1em;
  }

  .nav__burger:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
  }

  .nav__burger .nav__burger__lines {
    top: 50%;
    margin-top: -0.125em;
  }

  .nav__burger .nav__burger__lines,
  .nav__burger .nav__burger__lines:after,
  .nav__burger .nav__burger__lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: black;
    height: 0.25em;
    position: absolute;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .nav__burger .nav__burger__lines:after {
    left: 0;
    top: -1em;
  }

  .nav__burger .nav__burger__lines:before {
    left: 1em;
    top: 1em;
  }

  .nav__burger.nav__burger--squeeze .nav__burger__lines,
  .nav__burger.nav__burger--squeeze .nav__burger__lines:after,
  .nav__burger.nav__burger--squeeze .nav__burger__lines:before {
    -webkit-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    -o-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
  }

  .nav__burger.nav__burger--squeeze .nav__burger__lines:after,
  .nav__burger.nav__burger--squeeze .nav__burger__lines:before {
    width: 2em;
  }

  .nav__burger.nav__burger--squeeze.open .nav__burger__lines,
  .nav__burger.nav__burger--squeeze.open .nav__burger__lines:after,
  .nav__burger.nav__burger--squeeze.open .nav__burger__lines:before {
    -webkit-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
    -o-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
    transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
  }

  .nav__burger.nav__burger--squeeze.open .nav__burger__lines {
    background-color: transparent;
  }

  .nav__burger.nav__burger--squeeze.open .nav__burger__lines:before,
  .nav__burger.nav__burger--squeeze.open .nav__burger__lines:after {
    left: 0.5em;
    top: 0px;
  }

  .nav__burger.nav__burger--squeeze.open .nav__burger__lines:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .nav__burger.nav__burger--squeeze.open .nav__burger__lines:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* ==========================================================================
  #FOOTER
========================================================================== */
.footer {
  width: 100%;
  padding: 50px 0;

  background-color: #4c4c4c;
}

html.medium .footer,
html.small .footer {
  padding: 30px 0;
}

  .footer .container {
    display: flex;
    justify-content: space-between;
  }

  html.medium .footer .container,
  html.small .footer .container {
    flex-direction: column;
  }


/* Footer content */
.footer__item {
  margin-right: 40px;
  color: #ffffff;
}

html.medium .footer__item + .footer__item,
html.small .footer__item + .footer__item {
  margin-top: 20px;
}

  .footer__item p a {
    color: #ffffff;
    font-weight: normal;
    text-decoration: underline;
  }

  .footer__item .logo {
    width: 100%;
  }


/* ==========================================================================
  #PAYMENT PAGE
========================================================================== */
.payment-overview {
  margin: 0;
  width: 100%;

  text-align: left;
}

  .payment-overview tr {
    border-bottom: 1px solid #000000;
  }

    .payment-overview th,
    .payment-overview td {
      padding: 10px;
    }

    .payment-overview th {
      font-weight: bold;
    }


.payment-total {
  margin-left: 50%;
  width: 50%;
}

  .payment-total td {
    padding: 10px;
  }

  .payment-total__amount {
    font-weight: bold;

    border-top: 2px solid #000000;
  }


.payment-option {
  display: flex;
  margin: 30px 0;
}

  .payment-option__select {
    margin-right: 20px;
    padding: 20px;
    width: 50%;

    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
  }

    .payment-option__select .form__section:last-child {
      margin-bottom: 0;
    }

  .payment-option__info {
    width: 50%;
  }

    .payment-option__info .message {
      margin: 0;
    }

/* ==========================================================================
#SPEAKERS
========================================================================== */


.speakers{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;

   margin-top: 30px;
   border-top: 1px solid #dfdfdf;

   width: 100%;
}
.speakers img{
   width: 100%;
   height: 260px;
   object-fit: cover;
}

.speakers__item{
   width: 33%;
   padding: 20px;
   position:relative;
}

.speakers__item.dagvoorzitter:after{
   content:'Dagvoorzitter';
   position:absolute;
   z-index: 1000;
   top:30px;
   left:10px;
   padding:5px;
   background: #549fd7;
   color: white;
   font-weight:bold;



}

.small .speakers__item{
   width: 100%;
   padding:20px 0;
   border-top:1px solid #efefef;
}

.speakers__item a{
   text-decoration:none;
}

.speakers__content{
   padding-top: 10px;
}

.speakers__item .intro p{
   position:relative;
}

.speakers__content:after {
   content:'Lees verder';
   color: #61afe8;
}


/* ==========================================================================
voeg .speaker-landscape toe voor een opmaak met foto links en content rechts
========================================================================== */


.speaker-landscape{
   flex-direction: column!important;
}

.speaker-landscape .speakers__item{
      width: 100%!important;
}

.speaker-landscape .speakers__content{
   padding-left:20px;
   width: calc( 100% - 270px );
}

.small .speaker-landscape .speakers__content{
   padding-left:20px;
   width: calc( 100% - 70px );
}

.speaker-landscape .speakers__item a{
   display: flex!important;
   flex-direction: row!important;
   width: 100%!important;
   background: none!important
}

.speaker-landscape .speakers__item img{
   width: 250px!important;
   height: 250px!important;
   object-fit:cover!important;
}

.small .speaker-landscape .speakers__item img{
   width: 70px!important;
   height: 70px!important;
   object-fit:cover!important;
}

/* ==========================================================================
voeg .speaker-background toe voor een opmaak met speaker foto in de background incl. animatie in hover
========================================================================== */

.speaker-background a{
   display:block;
}

.speaker-background .speakers__item a{
   overflow:hidden;
   min-height:400px;
   position:relative;
}

.speaker-background .speakers__item a .speakers__thumb{
    -webkit-transition: all 0.3s ease-in-out;
}

.speaker-background a:hover .speakers__thumb{
   -webkit-transform: scale(1.15,1.15);
     -webkit-transition: all 0.3s ease-in-out;
}

.speaker-background .speakers__item .intro{
   display:none;
}

.speaker-background .speakers__content{
   padding:20px;
   position:absolute!important;
   bottom:0;
}
.speaker-background .speakers__item .speakers__content{
   position:relative;
   z-index:2000;
}

.speaker-background .speakers__item a:after{
   content:'';
   border:0px solid red!important;
   position:absolute;
   bottom:0;
   left:0;
   right:0;
   top:0;
   z-index:100;
   background: rgb(0,0,0);
   background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 57%);
}

.speaker-background a:hover .speakers__content {
   transform: translateY(-20px);
}

.speaker-background a .speakers__content {
   transform: translateY(0);
   -webkit-transition: .2s all;
   -o-transition: .2s all;
   transition: .2s all;
}

.speaker-background .speakers__content h3{
   color:white;
}
.speaker-background .speakers__content .speakers__subheading{
   margin-bottom:0;
   color: white;
}
.speaker-background .speakers__content:after{
   display: none;
}

.speaker-background .speakers__thumb{
   position:absolute;
   min-height:400px;
   /* display:none!important; */
}


/* ==========================================================================
#FANCYBOX - aanpassingen tbv speakers detailpagina
========================================================================== */
.small .fancybox-content{
   max-width: 900px!important;
   display: inline-flex!important;
   flex-direction: column!important;
   /* padding:5%!important; */
}

.fancybox-content{
   max-width: 900px!important;
   display: inline-flex!important;
   flex-direction: row!important;
   /* padding:5%!important; */
}

.small .fancybox-content .fancy-logo {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    float: left;
}

.fancybox-content .fancy-logo {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    float: left;
}

.small .fancybox-content .fancy-logo img{
   width: 100%;
   height: 200px;
   object-fit:cover;
}

.fancybox-content .fancy-logo img{
   width: 200px;
   height: 200px;
   object-fit:cover;
}

.small .fancy-inner-content{
   float: left;
   width: 100%;
   padding-top:10px;
}

.fancy-inner-content{
   float: left;
   width: calc( 100% - 250px);
}

.fancybox-slide--html .fancybox-close-small{
   right: -5px!important;
   top: -5px!important;
}


/* 'opmaak' programma */
.small .program li{
        flex-direction: column;
    }
.small .program li div{
    padding:0;
}

.program li{
    border-top: 1px solid rgba(0,0,0,0.1);
        display:flex;
    /* border:1px solid red; */
    flex-direction: row;
    padding:15px 0;
}

.program li .program__time{
    white-space: nowrap;
    font-weight:bold;
    opacity:0.6;
    font-size: 90%;
    padding-top:7px;
}
.program__title{
    font-weight: bold;
    font-size: 140%;
}

.program li div{
    padding-left:30px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    min-height: 100%;
    display: block;
    padding: 100px;
}

h1{
    color: white;
}

video{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width :100%;
  height :100%;
  z-index: -10;
  object-fit :cover;
}
